<tr data-id="<%= id %>">
    <td><%= name %></td>
    <td><%= code %></td>
    <td><%= specification %></td>
    <td><%= number %></td>
    <td><%= totalprice %></td>
    <td><%= taxrate %></td>
    <td><%= location %></td>
    <td><%= startusingtime %></td>
    <td><%= buyingtime %></td>
    <% _.each(['使用', '停用', '待修', '报废'], function(s,index){ %>
        <% if(index == status) { %>
            <td><%= s %></td>
        <% } %>
    <% }) %>
    <td><%= usingman %></td>
    <td><%= remark %></td>
    <td>
        <div style="cursor:pointer;display:inline" class="editBtn"><i class="icon_edit"></i></div>
        <div style="cursor:pointer;display:inline" class="removeBtn"><i class="icon_remove"></i></div>
    </td>
</tr>
