<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <connectionStrings>
    <add name="default" connectionString="Data Source=Xp-DB;Initial Catalog=uds;Persist Security Info=True;User ID=sa;Password=m9n5times"/>
  </connectionStrings>
  <appSettings>
    <add key="productName" value="测试OA系统"/>
  </appSettings>
  <system.web>
    <customErrors defaultRedirect="Error.aspx" mode="Off"/>
    <authentication mode="Forms">
      <forms name="UDSAuth" loginUrl="SubModule/Login/index.aspx" protection="None" timeout="216000" path="/"/>
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>